html
    head
        title Priya Dance Academy
        block scripts
        block style 
    body
        nav#navbar.top 
             ul
                div#logo
                    img(src="https://static.vecteezy.com/system/resources/thumbnails/008/251/368/small/dance-girl-logo-vector.jpg")
                    |   PDA

                li #[a(href = '/') Home]
                li #[a(href = '/') About ]
                li #[a(href = '/') Services ]
                li #[a(href = '/') Class Info]
                li #[a(href = '/contact') Contact us ]

        block content
        footer#footer 
             | copyright@2023 priyadanceacademy.com
